.body {
    float: left;
    height: 99vh;
    width: 99vw;
}

.head {
    float: left;
    height: 15%;
    width: 100%;
    background-color: orangered;
}

.center{
    float: left;
    height: 75%;
    width: 100%;
    background-color: blue;
}

.footer {
    float: left;
    height: 10%;
    width: 100%;
    background-color: green;
}

.menu {
    float: left;
    height: 100%;
    width: 20%;
    background-color: grey;
    outline: solid;
}