* {
   box-sizing: border-box;
   float: left; 
}

.col-1 {
    width: 16.66666666666667%;
    height: auto;
}

.col-2 {
    width: 33.33333333333333%;
    height: auto;
}

.col-3 {
    width: 50%;
    height: auto;
}

.col-4 {
    width: 56.66666666666667%;
    height: auto;
}

.col-5 {
    width: 83.33333333333333%;
    height: auto;
}

.col-6 {
    width: 100%;
    height: auto;
}

.row {
    width: 95vw;
    height: auto;
}