h1 {
    color: red;
    font-size: 3em;
}

h2 {
    color: greenyellow;
}
body {
    background-color: gray;
}

#absatz {
    color: yellow;
}

#ipsum {
    font-size: 2em;
}

img {
    width: 49vw;
}

.gruen {
    color: rgb(26, 209, 26);
}

.big {
    font-size: 2em;
}